@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<script>
    window.onApplicationInitialize = ({ configuration, ...rest }) => {
        if (configuration === "DEBUG") {
            const head = document.getElementsByTagName("head")[0];
            const { content } = rest;

            const config = document.createElement("script");
            config.innerText = content;
            head.appendChild(config);

            const script = document.createElement("script");
            script.src = "https://cdn.tailwindcss.com";

            head.appendChild(script);
        }
    }
</script>

@code
{
    protected override async Task OnInitializedAsync()
    {
#if DEBUG
        var path = new StreamReader(await FileSystem.Current.OpenAppPackageFileAsync("tailwind.config.js"));
        var content = await path.ReadToEndAsync();
        await JsRuntime.InvokeVoidAsync("onApplicationInitialize", new { configuration = "DEBUG", tailwind = content.Replace("module.exports", "tailwind.config") });
#endif
    }
}
