.zkwuwokvkm { border-width: 1px }.yehgjsswcl { border-radius: 0 }.obnmsjcwaf { border-color: #ccc }.bffjohyabi { padding: 4px 6px }.zbumqybyrw { padding-top: 6px }.egsamxxkcm { margin: 6px 4px }VisualElement {}