.vltnzyfyib { border-width: 1px }.iecbpalmai { border-radius: 0 }.ixqikmigzi { border-color: #ccc }.qriydwxuac { padding: 4px 6px }.bmlkuzhsie { padding-top: 6px }.uenynxvlcm { margin: 6px 4px }VisualElement {}