.rsgzucxkrg { border-width: 1px }.yaifnhdjjx { border-radius: 0 }.pziawdlmrb { border-color: #ccc }.ydnfnhbkpl { padding: 4px 6px }.kvcovvhvqg { padding-top: 6px }.iriqyrkfcr { margin: 6px 4px }VisualElement {}